.container {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
    overflow: hidden;
}

/* Navbar */
.navbar-container {
    background-color: #222831;
}

.navbar-brand {
    color: #eeeeee !important;
}

.nav-link {
    color: #eeeeee !important;
    margin-left: 5px;
}

/* main content */

.head-container {
    background-color: #00ADB5;
    height: 300px;
    position: relative;
}

.name {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}

.title {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 65%;
    margin-top: -50px;
}

.propic {
    width: 10%;
    height: 150px;
    position: absolute;
    left: 30%;
    top: 25%;
}

/* middle content */

.mid-container {
    background-color: #393E46;
    position: relative;
    height: 350px;
    justify-content: center;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex: 1;

}

.text-box1 {
    border-radius: 5px;
    color: #eeeeee;
    padding: 1em;
    position: absolute;
    left: 20%;
    width: 50%;
    top: -120px;
    text-align: left;
}

.text-box2 {
    border-radius: 5px;
    color: #eeeeee;
    padding: 1em;
    position: absolute;
    right: 60%;
    top: -120px;
    text-align: left;
    width: 50%;
}

.vectorimg {
    width: 25%;
    position: absolute;
    right: 1%;
}

/* footer */
.foo {
    height: 120px;
    background-color: #222831;
    position: relative;
}

.arr {
    color: #eeeeee;
    text-align: center;
    margin-top: 30px;
    position: absolute;
    bottom: 1%;
    left: 40%;
}

.foo-logo {
    color: #eeeeee;
    padding: 10px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.contact {
    position: absolute;
    color: #eeeeee;
    right: 9.5%;
    top: 30%;
    text-align: left;
}

.howto {
    position: absolute;
    color: #eeeeee;
    right: 5%;
    top: 10%;
}

.contact li {
    list-style-type: none;
}

.contact a {
    color: #eeeeee;
}

.contact a:hover {
    color: #00ADB5;
    text-decoration: none;
}

/* about page */

.about-container {
    background-color: #00ADB5;
    height: 300px;
    position: relative;
}

.square1 {
    border: 1px #000 solid;
    background-color: #393E46;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 2%;
    top: 5%;
}

.square2 {
    border: 1px #000 solid;
    background-color: #393E46;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 2%;
    top: 45%;
}

.square3 {
    border: 1px #000 solid;
    background-color: #393E46;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10%;
    top: 45%;
}

.square4 {
    border: 1px #000 solid;
    background-color: #393E46;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 6%;
    top: 25%;
}

.about-area {
    position: absolute;
    right: 10%;
    width: 40%;
}

.mid-about-container {
    background-color: #393E46;
    position: relative;
    height: 450px;
    justify-content: center;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex: 1;

}

.about-box1 {
    border-radius: 5px;
    color: #eeeeee;
    padding: 1em;
    position: absolute;
    left: 20%;
    width: 50%;
    top: -170px;
    text-align: left;
}

.webdev {
    font-size: 20px;
}

.about-box2 {
    border-radius: 5px;
    color: #eeeeee;
    padding: 1em;
    position: absolute;
    right: 20%;
    top: -170px;
    text-align: left;
    width: 50%;
}

.other {
    font-size: 20px;
}

.myskill {
    color: #eeeeee;
    position: absolute;
    left: 44.5%;
    top: 5%;

}

.skillimg {
    position: absolute;
    left: 40%;
    width: 250px;
    height: 250px;

}

/* Contact */

.contact-container {
    background-color: #00ADB5;
    height: 300px;
    position: relative;
}

.contact-titles {
    color: #eeeeee;
    position: absolute;
    left: 42%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}

.mid-contact-container {
    background-color: #393E46;
    position: relative;
    height: 450px;

}

.sns-title {
    color: #eeeeee;
    position: absolute;
    left: 36%;
    top: 10%;
}

.sns-icons {
    display: flex;
    position: absolute;
    left: 35%;
    top:40%;
}

.sns-icons a {
    margin-left: 45px;
    color: #00aced;
    cursor: pointer;
}

.sns-icons a:hover {
    text-decoration: none;
    color: #eeeeee;
    cursor: pointer;
}